<div data-options="dxView : { name: 'About', title: 'About' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <img src="images/face.png" class="img-responsive" alt="Responsive image">
            
           
            <div class="btn">
                <button type="button" class="btn btn-success"> <a href="https://www.behance.net/wilandoroncaulin">www.behance.net</a></button>
                </div>
            <div class="btn">
                <button type="button" class="btn btn-primary"> <a href="https://github.com/wilcaulin2010">www.github.com</a></button>
            </div>
            <div class="btn">
                <button type="button" class="btn btn-warning"> <a href="https://www.linkedin.com/pub/wilando-ron-caulin/53/200/326">www.linkedin.com</a></button>
            </div>
               
                
         
            
        
        </div>
    </div>
</div>