body
{
    margin: 0;
    padding: 0;
}

.background-image > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 308px;
    width: 400px;
    margin-left: -117px;
    margin-top: -154px;
}
.btn li {
    margin-left: auto;
    margin-right: auto;
}